/* Header */

.Header {
	align-items: center;
	color: white;
	display: flex;
	flex-direction: row;
	height: 60px;
	justify-content: space-between;
	width: 100%
}

.title {
	margin-left: 20px;
}

.userInfo {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

.avatarImg {
	border: 3px solid red;
	border-radius: 50%;
	height: 40px;
	margin-right: 10px;
}

.logoutSpan {
	margin-left: 15px;
}

/* SideBar */

.Sidebar {
	width: 200px;
}

.Sidebar_small {
	width: 50px;
}

.Sidebar,
.Sidebar_small {
	background-color: rgb(167, 0, 0);
	color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.pageBlock {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 50px;
	margin: 10px 0 0 15px;
}

div [class*='_active'] {
	background-color: red;
}

.pageIcon {
	margin-right: 5px;
}

.activitiesBlock {
	align-self: center;
	background-color: black;
	border-radius: 5%;
	display: flex;
	flex-direction: row;
	opacity: 80%;
	width: 95%
}

.latestHeader {
	align-self: center;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}
